version: '3.1'

services:
  backend:
    build: ./contests-backend
    environment:
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: root
      MONGODB_URL: mongodb://root:root@mongo:27017/
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0.2
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - db-data:/data/db

volumes:
  db-data:
